<div class="row">
  <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Angelo</h1>
      <div class="profileData col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2><u>Kid1 details</u></h2>
        <div><span>kid's Name:</span><span>Jesse</span></div>
        <div><span>Age:</span><span>10years</span></div>
        <div><span>Seat Preference:</span><span>Window</span></div>
        <div><span>Food Preference:</span><span>Bread and chacalotes</span></div>
        <div><span>Hobbies:</span><span>Watching cartoon</span></div>
        <div><span>Favourite Movie:</span><span>Spider Man</span></div>
        <div><span>Emergency contact number:</span><span>+1 3687216313</span></div>
      </div>
  </div>
  

</div>