.navC{
    background: #003a70;
    padding-left: 3%;
    width:85%;
    position: fixed;
    z-index: 9999999999;
	text-transform: uppercase;
	font-size: 14px;
	font-family: sans-serif;
	font-weight:bold;
	box-shadow:	0 5px 2px -2px rgba(0, 0, 0, 0.4);
}

.menuBar{
	float:left;width:80%;padding:1% 1%;
}

.menuItem:not(.firstItem){
	margin:0 20px 0 20px;
}

.firstItem{margin-right:20px;}

.profileLink{
    float:right;
	width:20%;
	padding: 1% 1%;
}
.navC a{
    color: #fff;   
    padding: 1% 1%;
    display: inline-block;
}
.navC a[active="active"]{
    background-color: #ffc107;
}
/*.navC a:last-child{
    float: right;
}
.navC a:last-child img{
    margin-top:-4px;
}*/
.selectedContent{
  padding: 2% 4% 1% 4%;
  margin-top:4%; 
}
.mainContainer{
    background:url(../../assets/img/mainImg.jpg) 60% 80%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.contentPlaceholder{
    background:#fff;
    overflow:scroll;
    height: 92%;
    width: 85%;
    margin:1.5% auto;
}
.tc{
    text-align: center;
}