.padT{
    margin-top:10px;
}
.bgC{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:10px;
    margin: auto;
    top:20%;
    position: absolute;
    width: 100%
}
.bgL{
    background-color:rgba(31, 80, 132, 0.5);
    border-radius: 3px;
    padding: 4% 0;
}
.selectText{
    position: absolute;
    text-align: center;
    padding: 1%;
    width: 50px;
    background-color:#1f5084;
    border-radius: 3px;
    color:#fff;
}
.selectBox{
    background: white;
    border-radius: 5px;
    padding: 1%;
    color:#000;
    padding-left: 60px;
}
.mT2{
    margin-top:2%;
}

.mat-select-value-text{
    color:#ccc;
}
.p0{
padding: 0;
}
.fl{
    float: left;
}
.w50{
    width: 50%
}
.mat-form-field-flex{
    border-bottom: 1px solid #000;
}
.mat-form-field-suffix{
    background:  #1f5084;
}
.mat-select-value{
    color:#000;
}