.padT{
    margin-top:10px;
}
.mat-form-field-infix{
    border-bottom:1px solid #ccc;
}
.bgC{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top:10px;
    margin: auto;
    top:20%;
    position: absolute;
    width: 100%;
}
.bgL{
    background-color:rgba(31, 80, 132, 0.5);
    border-radius: 3px;
    padding: 4% 0;
}
.selectText{
    position: absolute;
    text-align: center;
    padding: 1%;
    width: 50px;
    background-color:#1f5084;
    border-radius: 3px;
    color:rgb(133, 36, 36);
}
.selectBox{
    background: white;
    border-radius: 5px;
    padding: 10px;
    color:#000;
    text-align: center;
    width: 100%;
}
.mT2{
    margin-top:2%;
}

.mat-select-value-text{
    color:#ccc;
}
.p0{
    padding:0;
}
.fl{
    float: left;
}
.w50{
    width: 50%;
}
.mat-form-field-flex{
    border-bottom: 1px solid #000;
}
.mat-form-field-suffix{
    background:  #1f5084;
}
.mat-select-value{
    color:#000;
}
table{
    width: 100%;
}
thead{
    background: #8ab2dc;
}
table tr td{
    text-align: center;
    padding: 1% 0;
}
table tr th{
    width: 16.3%;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 1% 0;
}
table tbody tr:nth-child(2n){
    background-color:#dee7ee;
}
.searchForm div span{
    padding-right:1%; 
}
.searchForm>div{
    padding-top:1%;
    padding-bottom: 1%; 
}
.dn{
    display: none;
}