<div class="review">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul>
      <li>
        <h4>Jesse</h4>
        <p>✅ Trip Verified | I booked my flight from Coimbatore to Mumbai on 14th of April 2019. Some Airways rescheduled the flight by 20 hours. Again rescheduled for 22 00 hours. Couple of days back I got a notification that my flight is been canceled. It's really unfair part from Some Airways. For your internal issue you cancelled flight. But what about the customer? Very unfair and not at all satisfied with the service provided by Some Airways.
          </p>
      </li>
      <li>
        <h4>Rakesh</h4>
        <p>✅ Trip Verified | I booked my flight from Coimbatore to Mumbai on 14th of April 2019. Some Airways rescheduled the flight by 20 hours. Again rescheduled for 22 00 hours. Couple of days back I got a notification that my flight is been canceled. It's really unfair part from Some Airways. For your internal issue you cancelled flight. But what about the customer? Very unfair and not at all satisfied with the service provided by Some Airways.
          </p>
      </li>
      <li>
          <h4>philip</h4>
          <p>✅ Trip Verified | I booked my flight from Coimbatore to Mumbai on 14th of April 2019. Some Airways rescheduled the flight by 20 hours. Again rescheduled for 22 00 hours. Couple of days back I got a notification that my flight is been canceled. It's really unfair part from Some Airways. For your internal issue you cancelled flight. But what about the customer? Very unfair and not at all satisfied with the service provided by Some Airways.
            </p>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <form>
      <div>
        <label>Mail ID</label>
        <input matInput type="text" required >
      </div>
      <div>
        <label>Enter Message</label>
        <textarea></textarea>
      </div>
    </form>
  </div>
</div>